<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>681699000085-mk1bonnv79am3ca8eg49sfcqug3u034f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.681699000085-mk1bonnv79am3ca8eg49sfcqug3u034f</string>
	<key>API_KEY</key>
	<string>AIzaSyD3XvLoTUO6oj-w_25nx02SHvBRj9RwB_g</string>
	<key>GCM_SENDER_ID</key>
	<string>681699000085</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Chat</string>
	<key>PROJECT_ID</key>
	<string>ios-project-cb3b0</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-project-cb3b0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:681699000085:ios:d87699b10504a983dbb31c</string>
	<key>DATABASE_URL</key>
	<string>https://ios-project-cb3b0.firebaseio.com</string>
</dict>
</plist>